/aclocal.m4
/autom4te.cache/
Makefile.in
/compile
/config.guess
/config.h.in
/config.sub
*/*-config.h
*/*-config.h.in
/configure
*.directory
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing
*.*~
*.a
*.la
*.lai
*.lo
*.o
*.Plo
*.Po

git-*
go_*
